<h1>Rainforest</h1>
<h3>Make it rain.</h3>

<%= link_to 'Login', "sessions/new" %> |

<%= link_to 'Sign up', "users/new" %><br><br>

<%= link_to "Post a new product to sell", "/products/new" %>

<% @products.each do |product| %>
	
	<p class="text_width"><strong><%= product[:name] %> </strong> | $<%= product.formatted_price %> <br>
		<%= product[:description] %>
		
	</p>
	
<%= link_to "products/#{product.id}" do %>

	<img class="photo_size" src="<%= product[:photo] %>">

	<% end %>
<% end %>

<% #where do I define the id again? %>
<% #how do I make the image clickable? %>
