<h1>Rainforest</h1>
<h3>Make it rain.</h3>

<%= link_to "Back to Home", products_url %> |
<%= link_to "Edit Product", edit_product_path(@product) %> |
<%= link_to "Delete Product", @product, :confirm => "Are you sure you want to delete this product?", :method => :delete %>

<p><strong><%= @product[:name] %> </strong> | $<%= @product.formatted_price %> <br>
	<%= @product[:description] %>
</p>
 <%= image_tag @product.photo, class: "photo_size" %> 