<h1>Rainforest</h1>

<%= link_to "Back to Home", products_url %> |
<%= link_to "Edit Product", edit_product_path(@product) %> |
<%= link_to "Delete Product", @product, :confirm => "Are you sure you want to delete this product?", :method => :delete %>

<p><%= @product[:name] %>,
	<%= @product[:description] %>,
	<%= @product[:price_in_cents] %>,
</p>
 <%= image_tag @product.photo, class: "photo_size" %> 